@import "tailwindcss";

@plugin "daisyui" {
    themes: light;
}

.font-fascinate {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;

    -webkit-text-stroke: 0.5px black;
}

.font-lobster {
    font-family: "Lobster", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.font-spline {
    font-family: "Spline Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.navbar-brand {
    @apply text-4xl text-rose-50;
    @apply transition-all duration-100 ease-out hover:text-rose-400 hover:scale-[1.02];

    text-shadow: 2px 2px 0 black;
    -webkit-text-stroke: 0.5px black;
}

.navbar-brand-small {
    @apply text-4xl text-rose-50;
    @apply transition-all duration-100 ease-out hover:text-rose-400;

    text-shadow: 2px 2px 0 black;
    -webkit-text-stroke: 0.5px black;
}

.section-heading {
    @apply text-4xl lg:text-6xl text-rose-50;
    text-shadow: 2px 2px 0 black;
}

.section-wrapper {
    @apply bg-rose-200 border-2 border-black rounded-2xl;

    box-shadow: 4px 4px 0 black;
}

.dropdown-wrapper {
    @apply bg-rose-200 border-2 border-black rounded-xl z-1 w-80 p-4 mt-2;
    box-shadow: 4px 4px 0 black;
}

.card-wrapper {
    @apply bg-rose-300 border-2 border-black rounded-xl p-2 lg:p-4;
}

.inner-card-wrapper {
    @apply bg-rose-100 border-2 border-black rounded-lg;
}

.inner-card-wrapper-active {
    @apply bg-rose-400 border-2 border-black rounded-lg;
}

.inner-card-wrapper-completed {
    @apply bg-rose-200 border-2 border-dashed border-black rounded-lg;
}

.input-wrapper {
    @apply bg-rose-300 border-2 w-full border-black rounded-lg;
}

.btn-wrapper {
    @apply bg-rose-500 hover:bg-rose-300 border-2 border-black shadow-none;
}

.btn-wrapper-neutral {
    @apply bg-mauve-200 hover:bg-rose-300 border-2 border-black shadow-none;
}

.checkbox-wrapper {
    @apply bg-transparent border-2 border-black rounded checked:bg-rose-500;
}

.badge-wrapper {
    @apply badge badge-xs lg:badge-sm bg-transparent border-2 border-black/0 rounded-full p-1;
}

.badge-wrapper-active {
    @apply badge badge-xs lg:badge-sm bg-rose-500 border-2 border-black rounded-full p-1;
}

.badge-wrapper-action {
    @apply badge badge-xs lg:badge-sm bg-rose-400 border-2 border-black rounded-full p-1;
}

.drawer-heading {
    @apply text-2xl lg:text-4xl text-rose-50;
    text-shadow: 2px 2px 0 black;
}

.dropdown-item-wrapper {
    @apply bg-rose-300 border-2 w-full border-black rounded-lg;
}