@import "tailwindcss";

@plugin "daisyui" {
    themes: light;
}

.font-fascinate {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
}

.font-modak {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.font-spline {
    font-family: "Spline Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar-brand {
    @apply text-4xl text-rose-50;
    @apply transition-colors duration-150 ease-out hover:text-rose-400;

    text-shadow: 2px 2px 0 black;
    -webkit-text-stroke: 0.5px black;
}

.section-heading {
    @apply text-rose-50;

    text-shadow: 2px 2px 0 black;
    -webkit-text-stroke: 0.5px black;
}

.section-wrapper {
    @apply bg-rose-200 border-2 border-black rounded-2xl;

    box-shadow: 4px 4px 0 black;
}

.dropdown-wrapper {
    @apply bg-rose-200 border-2 border-black rounded-xl z-1 w-80 p-4 mt-2;
    box-shadow: 4px 4px 0 black;
}

.card-wrapper {
    @apply bg-rose-300 border-2 border-black rounded-xl p-2 lg:p-4;
}

.inner-card-wrapper {
    @apply border-2 border-black rounded-lg;
}

.input-wrapper {
    @apply bg-rose-300 border-2 border-black rounded-lg;
}

.btn-wrapper {
    @apply hover:bg-rose-400 border-2 border-black shadow-none;
    @apply transition-colors duration-150 ease-out;
}

.checkbox-wrapper {
    @apply bg-transparent border-2 border-black rounded checked:bg-rose-500;
}

.badge-wrapper {
    @apply text-xs border-2 rounded-full px-1;
}

.dropdown-item-wrapper {
    @apply bg-rose-300 border-2 border-black rounded-lg;
}